<div class="container-fluid selection">
    <h2 class="subheading">Select an option to to choose a game to replay</h2>
    <div class="btn-group-vertical selection" role="group" aria-lavel="match_selection">
        <button class="btn btn-success" ng-click="get_random_match_id()">Random Urf Game</button>
        <button class="btn btn-warning" ng-click="get_match_from_history()">From Match History</button>
        <button class="btn btn-danger" ng-click="get_from_match_id()">From Match ID</button>
    </div>
</div>